
body {
    background-image: radial-gradient(circle at 15.37% 56.11%, #009cf0 0, #0099f7 4.17%, #0095fb 8.33%, #0091fe 12.5%, #008cfe 16.67%, #1987fc 20.83%, #5981f7 25%, #7b7af1 29.17%, #9673e8 33.33%, #ab6bde 37.5%, #bd64d2 41.67%, #cc5cc5 45.83%, #d855b7 50%, #e24fa8 54.17%, #e94b99 58.33%, #ed4889 62.5%, #f0487a 66.67%, #f04b6b 70.83%, #ee4f5c 75%, #ea554d 79.17%, #e55b3f 83.33%, #de6231 87.5%, #d56a23 91.67%, #cc7113 95.83%, #c17700 100%);
}

textarea,
input::placeholder,
textarea::placeholder,
button {
    color:rgb(6, 0, 0);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif';
} 
.logo {
   display:flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0px;
   gap: 40px;
   width: 120px;
   height: 48px;
   left: 40px;
   top: 20px;
   color: darkblue;
}
.color-icon {
    filter: brightness(0), saturate(99%), invert(12%), sepia(100%), saturate(5320%), hue-rotate(320deg), brightness(92%), contrast(100%);
}
.container {
    align-items: center;
    display:flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
}
.message-container textarea {
    background: rgb(120, 176, 255);
    border: 5px solid rgb(255, 154, 243);
    border-radius: 3px;
    padding: 29px;
    resize: none;
    max-width: 470px;
    width: 100%;
}
.message-container textarea:focus {
    outline: none;
}
#text-lower{
    display: none;
    text-align: center;
}
.button-container {
    margin-top: 20px;
}
.button-container p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 17px;
}
.button-container button, #copy-btn {
    background-color: #92d0fd;
    border: 5px solid rgb(62, 180, 248);
    border-radius: 25px;
    color: #110f82;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 27px;
    text-shadow: 2px 2px rgb(65, 155, 239);
    transition: all .2s ease-in;
}
.button-container button:hover {
    border: 5px solid #f30f90;
    color: #ff54e5;
}

.result-container{
    position: absolute;
    width: 350px;
    height: 944px;
    left: 1000px;
    top: 90px;
    background-color: radial-gradient(circle at 9.44% -77.92%, #f45cc1 0, #e658be 25%, #d855ba 50%, #ca52b6 75%, #bc4fb1 100%);
    box-shadow: 0x 28px 42px -8px rgba(205, 163, 163, 0.08);
    border-radius: 32px;

}
.caveat-one {
    color: #ffe6fd;
    font-size: 27px;
    margin-top: 30px;
    margin: 19px;
    font-family: 'Maven Pro', sans-serif;

}
.caveat-two {
    color: #e3f6fa;
    font-size: 25px;
    margin-top: 20px;
    margin: 10px;
    font-family: 'Maven Pro', sans-serif;
}
#copy-btn {
    bottom: 10px;
    display: none;
    position: absolute;
}
#copy-btn:hover{
    border: 5px solid #ff1818;
    color: #5463ff;
}
footer {
    align-items: right;
    bottom: 5px;
    display:flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    color: rgb(236, 249, 250);
    position: absolute;
    left: 15%;
    text-align: left;
    transform: translate(-50%);
}
 footer a {
    color: #bc1a70;
    align-items: center;
    display: flex;
    text-decoration: none;
    transform: all .3s ease;
 }
 footer a:hover {
    color: #00abb3;
    text-shadow: 2px 2px black;
 }
 .footer-logo {
    width: 30px;
 }
 @media all and (max-width: 1024px) {
    .container {
    flex-direction: column;
    height: auto;
    }
     .message-container{
     margin-top: 50px;
    }
    .result-container{
     margin: 10px 0;
     margin-bottom: 40px;
    }
 }
 @media all and (max-width: 400px) {
    .message-container {
        margin-top: 80px;
        width: 100%;
    }
    footer {
        align-items: baseline;
        font-size: 11px;
    }
 }
