
body {
    background: rgb(255, 156, 237); /*colocar imagen con url();*/
}


/*
textarea,
input::placeholder,
textarea::placeholder,
button {
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif';
} */

.logo {
   display:flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0px;
   gap: 40px position absolute;
   width: 120px;
   height: 48px;
   left: 40px;
   top: 40px;
   color: darkblue;
}
.color-icon {
    filter: brightness(0), saturate(99%), invert(12%), sepia(100%), saturate(5320%), hue-rotate(320deg), brightness(92%), contrast(100%);
}
.container {
    align-items: center;
    display:flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
}
.message-container textarea {
    background: rgba(110, 24, 85, 0.2);
    border: 5px solid rgb(217, 151, 206);
    border-radius: 4px;
    padding: 65px;
    resize: none;
    max-width: 470px;
    width: 100%;
}
.message-container textarea:focus {
    outline: none;
}
#text-lower{
    display: none;
    text-align: center;
}
.button-container {
    margin-top: 20px;
}
.button-container p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
.button-container button, #copy-btn {
    background-color: #e1c1db;
    border: 5px solid rgb(164, 84, 159);
    border-radius: 25px;
    color: #ad2e9a;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 12px;
    text-shadow: 2px 2px rgb(188, 170, 181);
    transition: all .2s ease-in;
}
.button-container button:hover {
    border: 5px solid #ff189b;
    color: #ff54e5;
}
.result-container{
    position: absolute;
    width: 350px;
    height: 944px;
    left: 1000px;
    top: 50px;
    background-color: rgb(172, 85, 142);
    box-shadow: 0x 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

}
.caveat-one {
    color: #090708;
    font-size: 27px;
    margin-top: 30px;

}
.caveat-two {
    color: #6f1847;
    font-size: 18px;
    margin-top: 20px;
}
#copy-btn {
    bottom: 10px;
    display: none;
    position: absolute;
}
#copy-btn:hover{
    border: 5px solid #ff1818;
    color: #5463ff;
}
footer {
    align-items: center;
    bottom: 5px;
    display:flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(255, 0, 187);
    position: absolute;
    left: 15%;
    text-align: left;
    transform: translate(-50%);
}
 footer a {
    color: #ea047e;
    align-items: center;
    display: flex;
    text-decoration: none;
    transform: all .3s ease;
 }
 footer a:hover {
    color: #00abb3;
    text-shadow: 2px 2px black;
 }
 .footer-logo {
    width: 30px;
 }
 @media all and (max-width: 1024px) {
    .container {
    flex-direction: column;
    height: auto;
    }
     .message-container{
     margin-top: 50px;
    }
    .result-container{
     margin: 10px 0;
     margin-bottom: 40px;
    }
 }
 @media all and (max-width: 400px) {
    .message-container {
        margin-top: 80px;
        width: 100%;
    }
    footer {
        align-items: baseline;
        font-size: 11px;
    }
 }
